page{
	height: 100%;
}
.content{
	width: 100%;
	height: 100vh;
	// background-color: #fff;
}
.container{
	width: 100%;
	height: 100%;
	// width: 1920rpx;
	// height: 1080rpx;
	
	// background-color: #efefef;	
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	// border: solid px red;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.wh-100{
	width: 100%;
	height: 100%;
}
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
